/* @import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
*/
body{
	font: 1em 'Do Hyeon', sans-serif;
	text-transform: uppercase;
}

.nav{
	list-style: none;
	padding: 0;
	margin: 0px;
}

.mainMenu{
	width: 50px;
	height: 50px;
	overflow: hidden;

	transition-property: width;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;

	transition-property: height;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
}

.mainMenu:hover{
	width: 200px;
	height: 200px;
}

#mainLink, #home, #aboutMe, #contact{
	text-decoration: none;
	color: white;		

}

.link{
	text-decoration: none;
	display: block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	background-color: rgb(47, 48, 80);
	color: rgb(255, 255, 255);
	margin: 1px;
	padding-left: 15px;

	transition-property: all;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.link:hover{
	background-color: rgb(66, 69, 117);
}

.link{
	font-size: 1.1em;
	height: 50px;
	line-height: 50px;
	position: relative;
}

.link::before{
	content: '';
	position: absolute;
	display: block;
	height: 64px;
	width: 64px;
}

.link {
    font-size:1.1em;
    height:50px;
    line-height:50px;
    position:relative;
    text-indent:36px;
}

.link::before {
    content:'';
    display:block;
    height:32px;
    left:9px;
    position:absolute;
    top:9px;
    width:32px;
}

#mainLink::before {
    background:url(IMG1/tag.png) center no-repeat;
}

#home::before {
    background:url(IMG1/house.png) center no-repeat;
}

#aboutMe::before {
    background:url(IMG1/edit.png) center no-repeat;
}

#contact::before {
    background:url(IMG1/phone-call.png) center no-repeat;
}
